*{
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;

}
body{
    background: #f0f2f5;
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*flex-direction: row;*/
    margin: 1rem;
}
.container{
    width: min(90vw, 800px);
    margin: auto;
}
/*Universal*/
.menu{
    color: #D6000D;
    font-size: 2.3rem;
    font-style: italic;
}

.table{
    display: flex;
    color: black;

    list-style: none;
}
.tableMenu{
    border-radius: 1.4rem;
    margin: 0rem 0.1rem 0rem 0.1rem;
    
    
    padding: 0.5rem;
    font-size: 19px;
    font-style: oblique;
    
    
}
.tableMenu.Login{
    background-color: #D6000D;
    color: white;
    
}
/*Menu*/
.principal{
    align-items: center;
    display: flex;
    
    /*flex-direction: row;*/
    
    margin-top: 50px;
    
    
    
}
.principal p{
    font-size: 28px;
    font-display: center;
}
.principal h2{
    color: #D6000D;
    font-size: 59px;
    font-weight: 700;
}
.principal button{
    background-color: #D6000D;
    color: white;
    font-weight: 700;
    font-size: 18px;
    border-radius: 0.4rem;
    height: 36px;
    width: 250px;
    margin-top: 25px;
    padding: 1px 10px 1px 10px;
}
.inforWeb{
    /*margin: 5rem;*/
    padding: 0 0 0 5rem;
}
/*Quase fim site*/
#midPage{
    margin-top: 5rem;
}
.listaBene{
    display: flex;
    margin-right: 4.5rem;
}
.listaBene li{
    font-size: 1.3rem;
    margin-left: 6.2rem;
}
/*Mid Site */
.centerSite{
    margin: 3rem;

}
.celular{
    margin-right: 1.5rem;
    margin-top: 0.9rem;
    background-color: rgb(212, 212, 212);
    width: 185px;
    height: 35px;
    border-radius:8px;
}
.centerSite button{
    background-color: #D6000D;
    color: white;
    
    width: 185px;
    height: 39px;
    border-radius: 8px;
    font-weight: 700;
}
.commit{
    display: flex;
    margin: 3rem;
}
.card {
    padding: 0.5rem;
    background-color: rgb(212, 212, 212);
    height: 170px;
    width: 622px;
    font-size: 0.85rem;
    margin-right: 5rem;
    border-radius: 0.8rem;
    text-align:left;
}
.card p {
    font-size: 1rem;
    font-weight:bold;
    line-height: 2rem;
}

/* Footer*/
footer{
    background: #000;
    color: #ddd;
    width: auto;
    height: 180px;
}
.feeder{
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-left: 2.5rem;
}
.downBar{
    margin-left: 6rem;
}
.downBar h2{
    margin-bottom: 15px;
    font-size: 30px;
}
.downBar h3{
    margin-bottom: 15px;
}
.iconRedes{
    display: flex;
}
.icon{
    margin-left: 0.5rem;
}

